.registration {
    height: 100%;
    width: 100%;
    display: flex;
}

.registration-content {
    margin: 100px auto;
    background-color: white;
    border-radius: 21px;
    padding: 14px 50px;
}

.registration-content-header {
    display: flex;
    
    label {
        margin: auto;
        font-size: 21px;
        font-weight: bolder;
    }
}

.register-content-group {
    margin: 14px 0;
    display: grid;
}

.register-content-footer {
    margin: 0 7px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}